<bcp14> tags not rendered correct?

`resolution_fixed` `type_defect`   |    by miek@miek.nl

___


[btw; having a renderer that would take in incomplete XML snippets to render would really help in debugging]

Anyway the following XML
```
<t>The key words &quot;<bcp14>MUST</bcp14>&quot;, &quot;<bcp14>MUST NOT</bcp14>&quot;, &quot;<bcp14>REQUIRED</bcp14>&quot;, &quot;<bcp14>SHALL</bcp14>&quot;, &quot;<bcp14>SHALL NOT</bcp14>&quot;, &quot;<bcp14>SHOULD</bcp14>&quot;,
&quot;<bcp14>SHOULD NOT</bcp14>&quot;, &quot;<bcp14>RECOMMENDED</bcp14>&quot;, &quot;<bcp14>NOT RECOMMENDED</bcp14>&quot;, &quot;<bcp14>MAY</bcp14>&quot;, and &quot;<bcp14>OPTIONAL</bcp14>&quot; in this
document are to be interpreted as described in BCP 14 <xref target="RFC2119"></xref> <xref target="RFC8174"></xref> when, and only when,
they appear in all capitals, as shown here.</t>
<t>The following terms are defined in <xref target="RFC8342"></xref> and are not redefined
here:</t>
```

Now renders to:
```
   The key words "MUSTMUST NOTREQUIREDSHALLSHALL NOTSHOULDSHOULD
   NOTRECOMMENDEDNOT RECOMMENDEDMAYOPTIONAL[RFC2119] [RFC8174] when, and
   only when, they appear in all capitals, as shown here.

   The following terms are defined in [RFC8342] and are not redefined
   here:
```

xml2rfc 2.10.1

___
_Issue migrated from trac:374 at 2022-02-05 12:46:20 +0000_