reference for an STD or BCP that contains multiple RFCs

`resolution_overtaken by events` `type_enhancement`   |    by arusso@amsl.com

___


Per request from the RSE.

Ability to create a reference entry for an STD or BCP that contains multiple RFCs.

Perhaps an expansion of the reference element.

For example:
```
```

Desired output:
```
  [BCP9]     Bradner, S., "The Internet Standards Process -- Revision
             3", BCP 9, RFC 2026, October 1996.

             Dusseault, L. and R. Sparks, "Guidance on Interoperation
             and Implementation Reports for Advancement to Draft
             Standard", BCP 9, RFC 5657, September 2009.

             Housley, R., Crocker, D., and E. Burger, "Reducing the
             Standards Track to Two Maturity Levels", BCP 9, RFC 6410,
             October 2011.
```

In XML, as a work-around, the annotation element can be used to create that type of entry:

```
     <reference anchor='BCP9'>
	
	<front>
	  <title abbrev='Internet Standards Process'>The Internet Standards Process -- Revision 3</title>
	  <author initials='S.' surname='Bradner' fullname='Scott O. Bradner'>
	    <organization />
	  </author>
	  
	  <date year='1996' month='October' />
	  </front>
	  
	  <seriesInfo name='BCP' value='9' />
	  <seriesInfo name='RFC' value='2026' />
	  
	  <annotation>
	    Dusseault, L. and R. Sparks, "Guidance on Interoperation and Implementation Reports for Advancement to Draft Standard", BCP 9, RFC 5657, September 2009.
	  </annotation>
	  
	  <annotation>
	    Housley, R., Crocker, D., and E. Burger, "Reducing the Standards Track to Two Maturity Levels", BCP 9, RFC 6410, October 2011.
	  </annotation>
	  
	</reference>
```

___
_Issue migrated from trac:106 at 2022-02-05 12:28:35 +0000_