PDF, HTML output lacking whitespace between artwork and section heading

`type_defect`   |    by mahoney@nostrum.com

___


The typical amount of whitespace before a section heading is not seen in the PDF and HTML output when the heading is immediately preceded by <artwork> that is not wrapped in a <figure> element: 

```
          <artwork type="hex-dump"><![CDATA[
C2                        -- Tag 2
   49                     -- Byte string of length 9
      010000000000000000  -- Bytes content
]]></artwork>
        </section>
        <section anchor="fractions" toc="default">
          <name>Decimal Fractions and Bigfloats</name>
```

Please see the section heading for Section 3.4.4 in RFC 8949:

https://www.rfc-editor.org/in-notes/v3test/rfc8949.pdf
https://www.rfc-editor.org/in-notes/v3test/rfc8949.html
https://www.rfc-editor.org/in-notes/v3test/rfc8949.xml

___
_Issue migrated from trac:579 at 2022-02-08 07:11:42 +0000_