xml2rfc accepts invalid "updates" attributes

`type_defect`   |    by julian.reschke@gmx.de

___


For instance:

- RFC 8918 uses space instead of comma as delimiter
- RFC 8996 has non-ASCII characters in the attribute

This should be treated as error (see RFC 7991, Section 2.45.16)

(I believe this is a major defect because it has resulted in broken published canonical XML)

___
_Issue migrated from trac:614 at 2022-02-08 07:13:53 +0000_