Include author names in references

A reference that has fullname and asciiFullname will only render based on asciiFullname.  After the work we've done to ensure that people can have their name on documents, it would be a shame if they couldn't have their name associated with the work as it is referenced.

Both PDF and HTML formats render Unicode names correctly.
This is only happening in text format.

I don't see the unicode name in references in any format.

Actually, Unicode names work for me (and on [Author Tools](https://author-tools.ietf.org/)) in all formats:
XML:
```
        <reference anchor="foobar">
          <front>
            <title>Foo Bar</title>
            <author asciiFullname="Kesara Rathnayake" fullname="&#3482;&#3545;&#3523;&#3515; &#3505;&#3535;&#3505;&#3535;&#3514;&#3482;&#3530;&#3482;&#3535;&#3515; &#3515;&#3501;&#3530;&#3505;&#3535;&#3514;&#3482;">
            </author>
            <date year="2022" month="March" day="23"/>
          </front>
        </reference>
        <reference anchor="foobar2">
          <front>
            <title>Foo Bar 2</title>
            <author asciiFullname="Armin Bergstrom" fullname="Armin Bergström">
            </author>
            <date year="2022" month="March" day="23"/>
          </front>
        </reference>
```

This translates to:
In text:
```
   [foobar]   රත්නායක, ක. න., "Foo Bar", 23 March 2022.

   [foobar2]  Bergström, A., "Foo Bar 2", 23 March 2022.
```

In HTML/PDF:
```
[foobar]
    රත්නායක, ක. න. (Rathnayake, K. N.), "Foo Bar", 23 March 2022. 
[foobar2]
    Bergström, A., "Foo Bar 2", 23 March 2022. 
```

Unrelated note: `රත්නායක, ක. න` is wrong, but it's another issue because of the compound form of Sinhala script.

Can you provide an example?

I'm running 3.12.3 and compiling https://github.com/httpwg/http2-spec/blob/main/draft-ietf-httpbis-http2bis.xml

This has a reference:

```xml
        <reference anchor="RFC9218" target="https://www.rfc-editor.org/info/rfc9218">
          <front>
            <title>Extensible Prioritization Scheme for HTTP</title>
            <author initials="K" surname="Oku" asciiFullname="Kazuho Oku" fullname="奥 一穂"/>
            <author initials="L" surname="Pardue" fullname="Lucas Pardue"/>
            <date year="2022" month="March"/>
          </front>
          <seriesInfo name="RFC" value="9218"/>
          <seriesInfo name="DOI" value="10.17487/RFC9218"/>
        </reference>
```

I'm seeing none of the output formats produce something sensible.  I only see "Oku, K.".  Same in author tools.  Am I holding it wrong?  I see no warnings.  Or is it the presence of initials and surname that is causing the problem?

I'm building this with a slightly more complicated command line, but I don't see any reason that this would change what is rendered:

```
xml2rfc -q -s 'Setting consensus="true" for IETF STD document' --rfc-base-url https://www.rfc-editor.org/rfc/ --id-base-url https://datatracker.ietf.org/doc/html/ --cache=$HOME/.cache/xml2rfc --css=lib/v3.css --metadata-js-url=/dev/null draft-ietf-httpbis-http2bis.xml -o draft-ietf-httpbis-http2bis.html --html # or: --text --no-pagination
```

In your case, `surname` and `initials` supersede `fullname`.
You can provide Unicode name in `surname` and ASCII surname in `asciiSurname`.
Similarly, `initials` and `asciiInitials`

That will be it.  It's a shame that I don't know how to construct initials from Kanji.  I know that the default is bad.  Also, I ultimately don't control the reference format, so this will likely regress for everyone involved.  This is probably outside of the scope of this issue, but references really need to stop using initials.

Closing as I think we're more or less at the extent of what xml2rfc can do.

Even though the issue was closed, my notes on this are below.

I agree that the concept of initials is problematic.  That said, to separate 2 topics here:
1. Using initials & surname vs. full name in reference entries within I-Ds and RFCs.
2. xml2rfc's bug in handling a non-ASCII author's name when creating a reference entry.

Focusing on 2, if [RFC 7997](https://www.rfc-editor.org/rfc/rfc7997.pdf)* is taken as guidance, then `fullname (asciiSurname, asciiInitials.)` is the desired output, and there are a couple related bugs.

Details:
In this case, Martin indicates that B is the desired output:
A) `奥一穂 (Oku, K.)` or 
B) `奥 一穂 (Oku, K.)` (with a space)

For A, `<author asciiSurname="Oku" asciiInitials="K" fullname="奥一穂"/>` (note: no space) produces the desired output in PDF and HTML, but there's a bug in the text output (details below).

A yields bad text output:
 奥一穂

However, the HTML and PDF output are OK:
奥一穂 (Oku, K.) 

So, seems the requested fix is to make the text output the same as the HTML and PDF. 

For B, when the fullname contains the space, then all 3 outputs are not good (`一穂, 奥.` and `一穂, 奥. (Oku, K.)`) bc xml2rfc seemingly tries to "guess" what the initials should be. So, could xml2rfc can be changed to simply output the fullname instead of "guess" the initials when a non-ASCII fullname contains a space?

Side note: A workaround to get the desired output if we misuse the surname attribute:
```
            <author asciiSurname="Oku" asciiInitials="K" fullname="奥 一穂"     
initials="" surname="奥 一穂 (Oku, K.)" asciiFullname="Kazuho Oku"/>
```

yields:
```
   [HTTP-PRIORITY]
              奥 一穂 (Oku, K.) and L. Pardue, "Extensible Prioritization
              Scheme for HTTP", RFC 9218, DOI 10.17487/RFC9218, March
              2022, <https://www.rfc-editor.org/info/rfc9218>.
```

* From Section 3.2 of [RFC 7997](https://www.rfc-editor.org/rfc/rfc7997.pdf):
> Example reference entry:
> 
> OLD:
> [RFC6630] Cao, Z., Deng, H., Wu, Q., and G. Zorn, Ed., "EAP
> Re-authentication Protocol Extensions for Authenticated
> Anticipatory Keying (ERP/AAK)", RFC 6630, June 2012.
> 
> NEW:
> [RFC6630] Cao, Z., Deng, H., 吴钦 (Wu, Q.), and G. Zorn, Ed., "EAP
> Re-authentication Protocol Extensions for Authenticated
> Anticipatory Keying (ERP/AAK)", RFC 6630, June 2012.

That is:
fullname (asciiSurname, asciiInitials.)

Reopening in light of @alicerusso's comment (thanks for that, I wasn't nearly thorough enough in trying out alternatives).

Relatedly, similar issue as above with the author element of an rfc (not a reference). If the space within the kanji is desired, it currently yields bad output.
A) `fullname="奥一穂"` yields  `奥一穂 (K. Oku)`
B)  `fullname="奥 一穂"` yields `奥. 一穂 (K. Oku)`  (bad bc of the added period)

Good analysis.

The underlying issue here is that we use surname/initials on the front page, and fullname in the "authors" section. Deriving initials/surname from fullname is not guaranteed to work all the time.

If we can procude the right output for PDF and HTML, I don't see why plain text can't be fixed to match it.

Closing this ticket as completed.
Reopen, if I have missed anything.