xml2rfc reorders <city> and <code>, in violation of RFC2629

`owner:henrik@levkowetz.com` `resolution_overtaken by events` `type_defect`   |    by tore@redpill-linpro.com

___


According to RFC2629 section 2.2.2, the following applies to the in the <postal> element (emphasis mine)

```
   This flexibility is provided to allow for different national formats
   for postal addresses. Note however, that although the order of the
   "city", "region", "code", and "country" elements isn't specified, at
   most one of each may be present. Regardless, these elements must not
   be re-ordered during processing by an XML application (e.g., display
   applications **must preserve the ordering of the information contained
   in these elements).**
```

Given the following XML as input:

```
<author fullname="Tore Anderson" initials="T" surname="Anderson">
<organization>Redpill Linpro</organization>
<address>
<postal>
<street>Vitaminveien 1A</street>
<code>0485</code>
<city>Oslo</city>
<country>NO</country>
</postal>
<phone>+47 959 31 212</phone>
<email>tore@redpill-linpro.com</email>
</address>
</author>
```

xml2rfc will produce the following text output:

```
   Tore Anderson
   Redpill Linpro
   Vitaminveien 1A
   Oslo  0485
   NORWAY
```

Note how the order of <city> and <code> was reversed, even though RFC2629 says such reordering must not be done.

For what it's worth, in Norway, the postal code precedes the city name. This bug means I cannot express a syntactically correct Norwegian street address.

___
_Issue migrated from trac:280 at 2022-02-05 12:40:04 +0000_