Non 4-digit RFC references sorting issue

### Describe the issue

With `sortRefs="true"`, non 4-digit RFCs are sorted lexically.

Example:
```
3.1.  Normative References

   [RFC1]     Crocker, S., "Host Software", RFC 1, DOI 10.17487/RFC0001,
              April 1969, <https://www.rfc-editor.org/info/rfc1>.

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/info/rfc2119>.

   [RFC666]   Padlipsky, M., "Specification of the Unified User-Level
              Protocol", RFC 666, DOI 10.17487/RFC0666, November 1974,
              <https://www.rfc-editor.org/info/rfc666>.

   [RFC99]    Karp, P., "Network Meeting", RFC 99, DOI 10.17487/RFC0099,
              February 1971, <https://www.rfc-editor.org/info/rfc99>.
```

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)