sublist spaces with empty is true in definition list is off

`resolution_fixed` `type_defect`   |    by miek@miek.nl

___


There the spacing isn't quite right:

```
<dl>
<dt>kex algorithms</dt>
<dd>
<ul empty="true">
<li><t>ecdh-sha2-nistp256            <xref target="RFC5656"></xref></t>
</li>
<li><t>ecdh-sha2-nistp384            <xref target="RFC5656"></xref></t>
</li>
</ul></dd>
<dt>server host key algorithms</dt>
<dd><t>x509v3-ecdsa-sha2-nistp256    <xref target="RFC6187"></xref></t>
</dd>
<dt>x509v3-ecdsa-sha2-nistp384    <xref target="RFC6187"></xref>
encryption algorithms (both client_to_server and server_to_client)</dt>
<dd><t>AEAD<em>AES</em>128_GCM              <xref target="RFC5647"></xref></t>
</dd>
<dt>AEAD<em>AES</em>256_GCM              <xref target="RFC5647"></xref>
MAC algorithms (both client_to_server and server_to_client)</dt>
<dd><t>AEAD<em>AES</em>128_GCM              <xref target="RFC5647"></xref></t>
</dd>
</dl>
```

gives

```
   kex algorithms
      ecdh-sha2-nistp256 [RFC5656]

         ecdh-sha2-nistp384 [RFC5656]
...
```
The second item (ecdh...) should be moved to the left.

___
_Issue migrated from trac:365 at 2022-02-05 12:45:37 +0000_