ability for dl to be rendered with indent

### Description

As described in [Jay's comment](https://github.com/ietf-tools/xml2rfc/issues/985#issuecomment-1521585446):
>  there are many situations when nesting is not possible in the XML, but a list still needs to be rendered as if it were an inner list (e.g. indented). There are also situations where it is necessary to override the automatic separation of inner from outer lists.
> 
> Both of these can be achieved by an attribute such as "level-override" added to "dl", "ul" and "ol", which takes a number from 1-5. For now, the only effect of that would be to override the level of indent of the whole list.

One example is when the the desired output is a definition list that is indented:
```
   The METRIC object is defined in Section 7.8 of [RFC5440] and is
   comprised of the metric-value field, the metric type (the T field),
   and flags (the Flags field).  This document defines the following
   types for the METRIC object for the H-PCE model:

      T=20:  Domain Count metric (number of domains crossed).

      T=21:  Border Node Count metric (number of border nodes crossed).
```

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)