Ability to handle names that consist of a single letter

### Description

An author has requested that her name not be displayed with a period after it in the RFC header. Her full name is "Q Misell". Currently xml2rfc places a period after her first name because it creates an initial from ```<author fullname="Q Misell" role="editor" surname="Misell">```:

Current:
```
Automated Certificate Management Environment              Q. Misell, Ed.
Internet-Draft                                                  AS207960
Intended status: Standards Track                         14 January 2025
Expires: 18 July 2025
```
Requested:
```
Automated Certificate Management Environment               Q Misell, Ed.
Internet-Draft                                                  AS207960
Intended status: Standards Track                         14 January 2025
Expires: 18 July 2025
```

Something to consider, however, is what a code change to support this would do with author entries where a period is not provided in the initials attribute because xml2rfc adds them automatically. 

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

I didn't find any RFC specifying the author name format. The examples in RFC 7841 has the format: `initial. surname`. [^1]

Another option with current xml2rfc, is to just display the surname.
This can be done by adding `initials=""`.

[^1]: https://www.rfc-editor.org/rfc/rfc7841#appendix-A.1

> I didn't find any RFC specifying the author name format.

That would be RFC 7322, Section 4.12. for "Author's Address" or "Authors' Addresses" Section, and Section 4.1.1 for the front page.

Add this to the collection of evidence that we need to stop trying to disect names and treat them as blobs.

Yup. Single letter first names aren't that unusual, e.g. former UN General Secretary U Thant

I know someone whose last name is O, no punctuation, just O

Just a note that this issue affects RFC-to-be 9799, which just entered AUTH48 state.

@mferguson-rpc, Is the workaround I mentioned in https://github.com/ietf-tools/xml2rfc/issues/1204#issuecomment-2603449999 acceptable for this RFC-to-be?

For example:
```
    <author fullname="Q Misell" initials="" role="editor" surname="Misell">
```

will generate:
```
Internet Engineering Task Force (IETF)                       Misell, Ed.
```
and
```
Author's Address

   Q Misell (editor)
   ...
```

Fixed with #1246