when category="std", missing text in Status of This Memo

`owner:jbothun@concentricsky.com` `resolution_fixed` `type_defect`   |    by ahagens@amsl.com

___


When category="std", it is assumed consensus="yes" (even if not explicitly set).  That is, by definition, all Standards Track documents have consensus; there is no text defined by RFC 5741 for category="std" consensus="no".  

In the attached XML, category="std" (and the consensus attribute is not explicitly set). In the output, the Status of This Memo is missing the text in bold.

Output should be:

Status of This Memo

This is an Internet Standards Track document.

This document is a product of the Internet Engineering Task Force
(IETF).  It '''represents the consensus of the IETF community.  It has
received public review and''' has been approved for publication by the
Internet Engineering Steering Group (IESG).  Further information on
Internet Standards is available in Section 2 of RFC 5741.

Information about the current status of this document, any errata,
and how to provide feedback on it may be obtained at ...


___
_Issue migrated from trac:47 at 2022-02-05 12:24:45 +0000_