Definition List in HTML Outputs with Varying Font Sizes 

### Describe the issue

The definition list (in Section 4.4 of RFC 9517: https://www.rfc-editor.org/v3test/rfc9517.html) is displaying with varying font sizes in the html output, when using Opera version 79.0.4195.76330 and Chrome version 120.0.6099.145 - both with Android 12 SM-T865

The reporter sent the following screenshot.

![Screenshot_20240105-155709_Chrome](https://github.com/ietf-tools/xml2rfc/assets/132307348/04dce044-e46a-4012-a41a-7725275b84ac)

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)