Add links to boilerplate

`type_defect`   |    by mt@lowentropy.net

___


The text htmlizer tool (used on datatracker and tools) creates links in the boilerplate for "Section 2 of RFC 7841" (#status-of-memo) and "BCP 78" (#copyright).  These are not links in HTML renderings, but they could, and should, be.

___
_Issue migrated from trac:662 at 2022-02-08 07:16:44 +0000_