Maybe implicitly create the <back> section

`type_enhancement`   |    by alex_brotman@comcast.com

___


Process is Markdown/XML/Text.  Using mmark and xml2rfc.

When converting that document, the markdown was missing the "{backmatter}", though the document had many references.  It would convert to XML just fine, but wouldn't create the Reference section.  Trying to then run xml2rfc would result in errors such as:

fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2397", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC2397", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC7468", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC6962", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC6962", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC3709", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5246", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5280", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5280", at None
fetch_and_validation_of_vmc.xml(0): Error: IDREF attribute target references an unknown ID "RFC5280", at None

And so on.  Typically not in the same order, and no real error suggesting that was the issue.  Upon adding the "{backmatter}" to the Markdown, everything was fine.  It could be stated that mmark is the application with the issue, though it didn't warn about lack of <back>.  I suppose it technically did as I asked.

(I'll send to xml2rfc-dev as well)

___
_Issue migrated from trac:679 at 2022-02-08 07:17:44 +0000_