within reference's title, should ignore final whitespace

`owner:tony@att.com` `resolution_fixed` `type_defect`   |    by arusso@amsl.com

___


For reference's title element, it seems v2 should ignore the whitespace (as v1 does), but the output has an extra space.

```
v1 output (good):
   [RFC2560]  Myers, M., Ankney, R., Malpani, A., Galperin, S., and C.
              Adams, "X.509 Internet Public Key Infrastructure Online
              Certificate Status Protocol - OCSP", RFC 2560, June 1999.

   [RFC3447]  Jonsson, J. and B. Kaliski, "Public-Key Cryptography
              Standards (PKCS) #1: RSA Cryptography Specifications
              Version 2.1", RFC 3447, February 2003.

   [RFC4627]  Crockford, D., "The application/json Media Type for
              JavaScript Object Notation (JSON)", RFC 4627, July 2006

v2 output (bad. extraneous space in title):
   [RFC2560]  Myers, M., Ankney, R., Malpani, A., Galperin, S., and C.
              Adams, "X.509 Internet Public Key Infrastructure Online
              Certificate Status Protocol - OCSP ", RFC 2560, June 1999.

   [RFC3447]  Jonsson, J. and B. Kaliski, "Public-Key Cryptography
              Standards (PKCS) #1: RSA Cryptography Specifications
              Version 2.1 ", RFC 3447, February 2003.

   [RFC4627]  Crockford, D., "The application/json Media Type for
              JavaScript Object Notation (JSON) ", RFC 4627, July 2006.
```


XML: http://www.ietf.org/id/draft-laurie-pki-sunlight-12.xml
(needs `<!DOCTYPE rfc SYSTEM "rfc2629.dtd">` added)

(Note: you could get the right output by removing a space and CR from the XML file, but v1 handled it OK.  Also, this issue could be avoided by using the citation library.)

___
_Issue migrated from trac:171 at 2022-02-05 12:32:55 +0000_