Superscripts and definition lists - misaligned terms and defs

`type_defect`   |    by mahoney@nostrum.com

___


When superscript formatting is applied to text in a definition entry (`<dd>`) of a definition list (`<dl>`), the baseline of the term text (`<dt>`) is raised above the baseline of the `<dd>` text in the output. This is more noticeable in the PDF than the HTML. See the first two entries in Section 3.1 of RFC 8949:

https://www.rfc-editor.org/in-notes/v3test/rfc8949.pdf
https://www.rfc-editor.org/in-notes/v3test/rfc8949.html#name-major-types 

___
_Issue migrated from trac:578 at 2022-02-08 07:11:38 +0000_