> (I assume that this is a vocabulary request?)

Potentially, so that the renderers can insert the "NOTE..." automatically, and style it less intrusively.

(Of course this could be done with heuristics, which I'll try in my XSLT as a POC)

I mentioned the kramdown-rfc functionality because xml2rfc might also want to provide some authoring support that would be triggered by some new vocabulary, although that might be a more radical idea.


FWIW, here's a POC for rendering: https://greenbytes.de/tech/webdav/draft-ietf-httpbis-digest-headers-latest.html#rfc.section.2.p.3

Proposed grammar: fold = none | end | both

Good folding is way more elaborate.  I prefer to do this before committing to RFCXML.
(Yes, there needs to be some rendering assist, but only that.)

This thread has confused me a bit, so here's my understanding of what is being asked for:

- \<artwork\> needs to have a new attribute that can be used to indicate that the content of the artwork has been folded.
- This is so that the folding does not need to be noted inside the \<artwork\> and can be managed by styling.  
- It is explicitly not asking for automated folding inside \<artwork\> as that is best left to authors.

So the question is then which of the following three grammar constructs is better:

1. \<artwork folded="true"\>
2. \<artwork format-notes="folded"\>   _(could then be expanded to format-notes="folded,rtl" or other format hints)_
3. \<artwork fold-delimeter="\\"\>  _(in case we ever use another delimeter)_

> Proposed grammar: fold = none | end | both

@martinthomson - what would these values mean? Am I missing something here?

Note that RFC 8792 has two kinds of folding (Section 7 and Section 8); which of them is being used needs to be indicated ('\' or '\\' folding).


Note that the spec of this would need to update RFC 8792, Sections 7.1.1 and 8.1.1.

> Note that RFC 8792 has two kinds of folding (Section 7 and Section 8); which of them is being used needs to be indicated ('' or '\' folding).

Which suggests that the grammar change should be **\<artwork fold-delimeter="\\"\>**

Note that the RFC 7991 way of naming attributes is studlyCaps (camelCase).
(There are counter-examples, such as `quote-title`/`suppress-title` and `subitem`/`fullname`/`colspan`/`rowspan`, but the studlyCaps way is the dominant one.)

I would avoid monsters like "fold-delimiter" and just use "fold" anyway.

FWIW, RFC 7991 uses "quoteTitle", but somebody preferred to rename it.

> FWIW, RFC 7991 uses "quoteTitle", but somebody preferred to rename it.

Actually, xml2rfc has both:

```
       attribute quoteTitle { "true" | "false" }?,
       attribute quote-title { "true" | "false" }?,
```

You can't make this up.

@reschke,

>>    Proposed grammar: fold = none | end | both
>
> @martinthomson - what would these values mean? Am I missing something here?

none = no folding
end = RFC 8792 "\" folding with "\" only at the end of the line
both = RFC 8792 "\\" folding with "\" at the end of the line followed by "\" at the start of the line

Because this is a request that impacts grammar, I suggest removing the rpat label from this issue and applying the rswg label. 