Stripping empty lines around sourcecode content appears to be an undocumented feature

### Describe the issue

https://github.com/ietf-tools/datatracker/issues/5544#issuecomment-1527820503

Note that this feature probably cannot be removed; it needs to be documented instead.


### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

Note that RFC 8792, Section 9.4, has a strong dependency on the newline stripping, opting for the newline-as-separator model (i.e., always stripping the last newline).  Since newline-as-terminator is the prevailing model, this is another bug, this time in RFC 8792.
