PDF page break not respecting newline=false in dt & dd

From @ajeanmahoney:


___
Spotted a page break between a dt and dd (newline="false") in RFC 8949, Section 7.1, page 37:

https://www.rfc-editor.org/v3test/rfc8949.pdf
https://www.rfc-editor.org/v3test/rfc8949.xml

_Originally posted by @ietf-svn-bot in https://github.com/ietf-tools/xml2rfc/issues/463#issuecomment-1032275706_
            

This seems to be OBE.
I've constructed, above XML to cause a page break in-between, both with `newline="false"` and `newline="true"` did not cause any defective page breaks in Section 7.1.

Test with `newline="false"`: [xml](https://t4.fq.nz/xml2rfc.1119/rfc8949.xml), [pdf](https://t4.fq.nz/xml2rfc.1119/rfc8949.pdf)
Test with `newline="true"`: [xml](https://t4.fq.nz/xml2rfc.1119/rfc8949_nl.xml), [pdf](https://t4.fq.nz/xml2rfc.1119/rfc8949_nl.pdf)