Bad word break after lengthy <dt> entry

`resolution_fixed` `type_defect`   |    by lbartholomew@amsl.com

___


Please see <https://www.rfc-editor.org/authors/rfc8825.txt>.
The .html and .pdf outputs are OK.

The <dt> entry that's causing this is 66 characters long (not sure if that's relevant):

<dt>WebRTC Browser (also called a "WebRTC User Agent" or "WebRTC UA"):</dt>

leb@rfcpa:/a/inc-work> xml2rfc --version
xml2rfc 2.46.0

___
_Issue migrated from trac:531 at 2022-02-08 07:08:40 +0000_

I would like to reopen this ticket. The RPC has guidance that the use of XML entities to control formatting should be minimized. This issue is seen with our media type template, which is used whenever a new media type is registered. The template uses `<dl>`:

     <dt>Person and email address to contact for further information:</dt>
     <dd>See Authors' Addresses section.</dd>

The text output looks like the following:

     Person and email address to contact for further information:  See Aut
        hors' Addresses section.

The output can be cleaned up by adding `<t><br/>`. However, during a recent AUTH48, the authors rejected the workaround and said they were willing to live with the bug (but I would prefer not to). 

[rfc9110-to-be-220311.xml.zip](https://github.com/ietf-tools/xml2rfc/files/8234602/rfc9110-to-be-220311.xml.zip)

 

Clarifying: I prefer a slight brokenness in plain text output over an approach where workarounds leak back into the published XML. I trust this can eventually be fixed, and at that point, the plain text version can be regenerated.

@ajeanmahoney - thanks for following up here!

Another example of a bad break in <dl> - see 
https://www.rfc-editor.org/v3test/test9623.txt 
https://www.rfc-editor.org/v3test/test9623.xml 

   "Capacity Profile" (property name connCapacityProfile):  An implement
      ation can use the capacity profile to prefer paths that match an
      application's expected traffic profile.

@rvanrheenen Proposed changes in #1292 generates following diff for [your test XML](https://www.rfc-editor.org/v3test/draft-ietf-teas-5g-ns-ip-mpls-18-TEST.xml):
```
2723,2725c2723,2726
<    Data Confidentiality and Integrity of an IETF Network Slice:  As desc
<       ribed in Section 5.1.2.1 of [RFC9543], the customer might request
<       a Service Level Expectation (SLE) that mandates encryption.
---
>    Data Confidentiality and Integrity of an IETF Network Slice:  As
>       described in Section 5.1.2.1 of [RFC9543], the customer might
>       request a Service Level Expectation (SLE) that mandates
>       encryption.
```