RTL/LTR text does not render correctly in the pdf output

### Describe the issue

The right-to-left (RTL) Hebrew string placed in `<artwork>` in Section 3.6 of RFC 9676 does not display as intended in the pdf output (the rendering of both RTL and LTR text is reversed when used in the same element). 

txt (Safari):
![Image](https://github.com/user-attachments/assets/6e9bff2a-4ac8-4f58-bc63-0be6cad496bc)

html:
![Image](https://github.com/user-attachments/assets/95f3f37c-b486-417e-a956-213f29dbcff5)

pdf:
![Image](https://github.com/user-attachments/assets/161674cc-9d94-42b9-bbfa-15802d33a888)

files:
https://www.rfc-editor.org/v3test/rfc9676.pdf
https://www.rfc-editor.org/v3test/rfc9676.html
https://www.rfc-editor.org/v3test/rfc9676.txt
https://www.rfc-editor.org/v3test/rfc9676.xml

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

There's a doc currently in AUTH48 that will enter TI state due to this issue. Do we have a feel for the LOE for a fix?

This is an WeasyPrint issue. See https://github.com/Kozea/WeasyPrint/issues/2386

WeasyPrint [v65.0](https://github.com/Kozea/WeasyPrint/releases/tag/v65.0) has released a fix for this issue.

Example:
* RFC 9676 [pdf](https://t4.fq.nz/xml2rfc.1226/rfc9676.pdf) generated with WeasyPrint v65.0.