New RFC txt format doesn't conform to RFC7994 (FF characters missing)

`resolution_wontfix` `type_defect`   |    by brian.e.carpenter@gmail.com

___


RFC7994 section 4 (General Page Format Layout) requires a form feed character every 58 lines at most. There are no form feed characters in the generated txt files, e.g. rfc8799.txt.

___
_Issue migrated from trac:560 at 2022-02-08 07:10:26 +0000_