xml2rfc renders separators inside span rather than outside it.

`owner:jennifer@painless-security.com` `resolution_fixed` `type_defect`   |    by ekr@rtfm.com

___


If you look at the references in https://www.rfc-editor.org/rfc/rfc8940.html you will see:

```
<span class="refAuthor">Aboba, B.</span><span class="refAuthor">, Blunk, L.</span><span class="refAuthor">, Vollbrecht, J.</span><span class="refAuthor">, Carlson, J.</span><span class="refAuthor">, and H. Levkowetz, Ed.</span>,
```

Note that each span contains the separator ("," or ", and") in addition to the author's name. This means that attempts to style author names also style the separator, which is suboptimal. Based on the comments in the code, this appears not to be what was intended:

```
 # 9.7.3.  Authors of References
    # 
    #    In the output generated from a reference element, author tags are
    #    rendered inside an HTML <span> element with CSS class "refAuthor".
    #    See Section 4.8.6.2 of [RFC7322] for guidance on how author names are
    #    to appear.
    # 
    #    <span class="refAuthor">Flanagan, H.</span> and
    #    <span class="refAuthor">N. Brownlee</span>
```




___
_Issue migrated from trac:575 at 2022-02-08 07:11:25 +0000_