output of symRefs="false" looks like symRefs="true"

`resolution_fixed` `type_defect`   |    by mahoney@nostrum.com

___


When symRefs="false", the output should look like this (RFC 4582):

`As stated earlier, BFCP is a protocol to coordinate access to shared resources in a conference following the requirements defined in 94e0ec192a858d59559a9fead5d8e2c3a21dc743.  Floor control complements other functions defined in the XCON conferencing framework b7efe6b9ff1b6a4f9d9f50361df37067948ca7df.`

However, the following is rendered (rfc4582bis):

`As stated earlier, BFCP is a protocol to coordinate access to shared resources in a conference following the requirements defined in [RFC4376]. Floor control complements other functions defined in the XCON conferencing framework [RFC5239].` 


Files:
https://www.rfc-editor.org/v3test/draft-ietf-bfcpbis-rfc4582bis-16.html
https://www.rfc-editor.org/v3test/draft-ietf-bfcpbis-rfc4582bis-16.xml


___
_Issue migrated from trac:476 at 2022-02-08 07:04:58 +0000_