Superscripts and line spacing

`resolution_wontfix` `type_defect`   |    by mahoney@nostrum.com

___


When superscripts are applied, the output has a noticeably larger space above the line containing the superscript as compared to the HTML output (there's some extra space in the HTML output, but it's not as noticeable).  See Section 5.5 of RFC 8949 for an example:

https://www.rfc-editor.org/in-notes/v3test/rfc8949.pdf
https://www.rfc-editor.org/in-notes/v3test/rfc8949.html#name-numbers 




___
_Issue migrated from trac:577 at 2022-02-08 07:11:35 +0000_