RTL text does not align correctly in the txt output

### Describe the issue

The right-to-left (RTL) Hebrew strings placed in `<artwork>` in Section 3.6 of RFC 9676 do not display as intended in the text output (the artwork is right-aligned). 

Additionally, the "ISO plus Hebrew format" does not display consistently in the text and pdf  outputs compared to the html output.

txt (Firefox):
<img width="1022" alt="Image" src="https://github.com/user-attachments/assets/bf7e185b-22d6-4e33-856a-bf61072301d7" />

pdf:
<img width="929" alt="Image" src="https://github.com/user-attachments/assets/afc03e80-b46d-43b7-b921-9e1f78b13bb5" />

<img width="946" alt="Image" src="https://github.com/user-attachments/assets/0cb08a7d-198e-41ce-9dcb-53362aba9b38" />

html:
<img width="647" alt="Image" src="https://github.com/user-attachments/assets/4c4e429d-02fa-4349-a8dc-4a3c9c14e501" />

files:
https://www.rfc-editor.org/v3test/rfc9676.pdf
https://www.rfc-editor.org/v3test/rfc9676.html
https://www.rfc-editor.org/v3test/rfc9676.txt
https://www.rfc-editor.org/v3test/rfc9676.xml

### Code of Conduct

- [x] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

You didn't say which tool you use to look at the TXT file.
In Chrome, [this](https://www.rfc-editor.org/v3test/rfc9676.txt) looks great (to  a non-hebrew speaker at least):

<img width="727" alt="Image" src="https://github.com/user-attachments/assets/eab56ebf-90ed-4b66-af2f-ffbbcb7975d4" />

The TXT file was viewed using Firefox (updated the ticket to reflect this).

The TXT rendering has no formatting codes at all other than \n at the end of a line. I looked at the file, and the Hebrew characters are in the text where you'd expect them to be. When presented with mixed direction text, different rendering engines will do what they do, often surprisingly. Right justifying a chunk of RTL text within a LTR document may be surprising, but I don't see why it's wrong. More importantly, there's nothing we can do about it.

The HTML, where we do have control over the presentation, looks OK to me. The PDF is arguably wrong, reversing the rendering of the line with some LTR and some RTL, but again, there is no definitively correct way to render mixed direction text.

`xml2rfc` doesn't have a control over how RTL text is rendered in text output.
It might be better to describe the order of characters similar to [RFC 9290](https://www.rfc-editor.org/rfc/rfc9290.html#appendix-A.3-10).


So the text output issues are browser specific. However, there's an issue with pdf output as @jrlevine pointed out:
>The HTML, where we do have control over the presentation, looks OK to me. The PDF is arguably wrong, reversing the rendering of the line with some LTR and some RTL

Should we add this example to https://github.com/ietf-tools/xml2rfc/issues/1192?

> 
> Should we add this example to [#1192](https://github.com/ietf-tools/xml2rfc/issues/1192)?

I'd add it with a note that it's not necessarily wrong.  Bidirectional text is a rathole and I don't think we're likely to have enough Hebrew or Arabic text in RFCs that it's worth a lot of effort to work out the details.

@ajeanmahoney, I think the PDF issue in this example is different. May be worth creating a new issue?

I have created a [rtl label](https://github.com/ietf-tools/xml2rfc/issues?q=state%3Aopen%20label%3A%22rtl%22) so we can find these easier.