references: missing comma and space before "Ed."

`owner:jbothun@concentricsky.com` `resolution_fixed` `type_defect`   |    by ahagens@amsl.com

___


role="editor" not output correctly in reference:
missing comma and space for *only some* authors with role=editor.
(same sample file as #49: test6643.xml)

Examples:
```
   [RFC2578]  McCloghrie, K., Ed., Perkins, D.Ed.,  and J.
              Schoenwaelder, Ed., "Structure of Management Information
              Version 2 (SMIv2)", STD 58, RFC 2578, April 1999.

   [RFC6241]  Enns, R., Ed., Bjorklund, M., Ed., Schoenwaelder, J.Ed.,
              and A. Bierman, Ed., "Network Configuration Protocol
              (NETCONF)", RFC 6241, June 2011.

   [RFC6536]  Bierman, A.Ed.,  and M. Bjorklund, Ed., "Network
              Configuration Protocol (NETCONF) Access Control Model",
              RFC 6536, March 2012.
```

Should be:
```
   [RFC2578]  McCloghrie, K., Ed., Perkins, D., Ed., and J.
              Schoenwaelder, Ed., "Structure of Management Information
              Version 2 (SMIv2)", STD 58, RFC 2578, April 1999.

   [RFC6241]  Enns, R., Ed., Bjorklund, M., Ed., Schoenwaelder, J., Ed.,
              and A. Bierman, Ed., "Network Configuration Protocol
              (NETCONF)", RFC 6241, June 2011.

   [RFC6536]  Bierman, A., Ed. and M. Bjorklund, Ed., "Network
              Configuration Protocol (NETCONF) Access Control Model",
              RFC 6536, March 2012.
```

___
_Issue migrated from trac:51 at 2022-02-05 12:25:01 +0000_