when a list using style="letters" is nested, use uppercase letters

`owner:tony@att.com` `resolution_fixed` `type_defect`   |    by arusso@amsl.com

___


Sample file: http://www.ietf.org/internet-drafts/draft-ietf-behave-lsn-requirements-10.xml

For list style="letters"
  - v1 uses lowercase (a., b., c.) for top list, but uppercase (A., B., C.) for nested list.
  - v2 uses lowercase (a., b., c.) for both cases.

Perhaps v2 should be updated to match what v1 did.

v1 output:
```
   REQ-1:  If a CGN forwards packets containing a given transport
           protocol, then it MUST fulfill that transport protocol's
           behavioral requirements.  Current applicable documents are as
           follows:

           A.  "NAT Behavioral Requirements for Unicast UDP" [RFC4787]

           B.  "NAT Behavioral Requirements for TCP" [RFC5382]

           C.  "NAT Behavioral Requirements for ICMP" [RFC5508]

           D.  "NAT Behavioral Requirements for DCCP" [RFC5597]
```

v2 output:
```
   REQ-1:  If a CGN forwards packets containing a given transport
      protocol, then it MUST fulfill that transport protocol's
      behavioral requirements.  Current applicable documents are as
      follows:

      a.  "NAT Behavioral Requirements for Unicast UDP" [RFC4787]

      b.  "NAT Behavioral Requirements for TCP" [RFC5382]

      c.  "NAT Behavioral Requirements for ICMP" [RFC5508]

      d.  "NAT Behavioral Requirements for DCCP" [RFC5597]
```

___
_Issue migrated from trac:127 at 2022-02-05 12:30:03 +0000_